  <div id="hero">
    <div id="hero-inner" class="container">
      <div class="span10 offset1">
        <!--  <h1>
            I’m <em>Amit Kumar Patel</em>, 
          </h1>
          <h1>
          	<em>Ruby On Rails Developer</em>
          </h1>
          <h1>
          	from <em>Noida, India</em>
          </h1>  -->
      </div>
    </div>
  </div>
  <section id="sub-hero">
    <div class="container">
      <div class="row">
        <div class="about">
          <h2>About</h2>  
          <p>I currently working in Chetu India Pvt. Ltd. In my spare time I learn ruby and expand my knowledge of web development which includes: HTML, CSS, JavaScript, and RoR. I like watching movies and travel around the corner of map. This site is created by me as my learning in Ruby on Rails and its basics.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row" id="post-container">          
    </div>
    <div class="row">
      <ul class="pager">    
      </ul>
    </div>
  </div>


